:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.background {
  width: min-content;
  background-color: white;
  padding: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
  padding: 1rem 2rem;
  border: 1px solid black;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: .5rem .5rem .5rem 0;
  dzm-button {
    margin: .25rem;
  }
}
