// -- DEFAULT VARIABLES -- //
:root {
  --color-primary: #0d7377;
  --hover-primary: #0f857b;
  --active-primary: #0e6b77;

  --color-secondary: #00C49A;
  --hover-secondary: #00e2b7;
  --active-secondary: #009d75;

  --color-accent: #FF8A44;
  --hover-accent: #ffac49;
  --active-accent: #d1693f;

  --color-danger: #ce0000;
  --hover-danger: #7f0000;
  --active-danger: #ee0000;

  --text-primary-main: white;
  --text-secondary-main: #292929;
  --text-accent-main: white;
  --text-danger-main: white;

  --text-disabled: #777777;
  --bg-disabled: #d0d0d0;

  --radius-huge: 17px;
  --radius-bigger: 7px;
  --radius-big: 5px;
  --radius-normal: 3px;
  --radius-small: 2px;
  --radius-circle: 50%;
}

// -- -- //

// -- UTILS -- //
@mixin baseBtn($color) {
  color: $color;
  background-color: transparent;
  white-space: nowrap;
  width: min-content;
  cursor: pointer;
  border: 1px solid transparent;
  text-decoration: none;
  border-radius: var(--radius-small);
  outline: none;
  box-shadow: none;
  min-height: 2rem;
  min-width: 5rem;
  padding: .375rem 1.5rem;
  transition: background-color .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out;

  &:focus, &:active, &:active:focus, &[disabled], &:disabled {
    outline: none;
    border: 1px solid transparent;
    text-decoration: none;
    box-shadow: none;
  }

  &[disabled] {
    color: var(--text-disabled);
    pointer-events: none;
    cursor: unset;
  }
}

@mixin mainBtn($color, $bgColor, $hoverBgColor, $activeBgColor) {
  @include baseBtn($color);
  background-color: $bgColor;

  &:hover:not([disabled]) {
    color: white;
    background-color: $hoverBgColor;
  }

  &:focus, &:active, &:active:focus {
    color: white;
    background-color: $activeBgColor;
  }

  &[disabled] {
    background-color: var(--bg-disabled);
  }
}

@mixin outlineBtn($color, $activeColor) {
  @include baseBtn($color);
  border: 1px solid $color;

  &:focus, &:active, &:active:focus, &:hover:not([disabled]) {
    color: white;
    border: 1px solid $color;
  }

  &:focus, &:active, &:active:focus {
    background-color: $activeColor;
  }

  &:focus:not(:focus-visible) {
    border: 1px solid $color;
  }

  &:hover:not([disabled]) {
    background-color: $color;
  }

  &[disabled] {
    border-color: var(--text-disabled);
  }
}

@mixin textBtn($color, $hoverColor, $activeColor) {
  @include baseBtn($color);

  &:hover:not([disabled]) {
    color: $hoverColor;
  }

  &:focus, &:active, &:active:focus {
    color: $activeColor;
  }
}
// -- -- //


// -- BUTTONS -- //

// - PRIMARY - //
.dbtn-primary:not(.dbtn-outline):not(.dbtn-text) {
  @include mainBtn(var(--text-primary-main), var(--color-primary), var(--hover-primary), var(--active-primary));
}

.dbtn-primary.dbtn-outline {
  @include outlineBtn(var(--color-primary), var(--hover-primary));
}

.dbtn-primary.dbtn-text {
  @include textBtn(var(--color-primary), var(--hover-primary), var(--active-primary));
}

// TODO
//.dzm-btn_primary__rounded {
//  @extend .dbtn_primary;
//  display: inline-flex;
//  align-items: center;
//  padding: 0 1rem;
//  border-radius: 17px;
//}

// - SECONDARY - //
.dbtn-secondary:not(.dbtn-outline):not(.dbtn-text) {
  @include mainBtn(var(--text-secondary-main), var(--color-secondary), var(--hover-secondary), var(--active-secondary));
}

.dbtn-secondary.dbtn-outline {
  @include outlineBtn(var(--color-secondary), var(--hover-secondary));
}

.dbtn-secondary.dbtn-text {
  @include textBtn(var(--color-secondary), var(--hover-secondary), var(--active-secondary));
}

// - DANGER - //
.dbtn-danger:not(.dbtn-outline):not(.dbtn-text) {
  @include mainBtn(var(--text-danger-main), var(--color-danger), var(--hover-danger), var(--active-danger));
}

.dbtn-danger.dbtn-outline {
  @include outlineBtn(var(--color-danger), var(--hover-danger));
}

.dbtn-danger.dbtn-text {
  @include textBtn(var(--color-danger), var(--hover-danger), var(--active-danger));
}

// -- ACCENT -- //
.dbtn-accent:not(.dbtn-outline):not(.dbtn-text) {
  @include mainBtn(var(--text-accent-main), var(--color-accent), var(--hover-accent), var(--active-accent));
}

.dbtn-accent.dbtn-outline {
  @include outlineBtn(var(--color-accent), var(--hover-accent));
}

.dbtn-accent.dbtn-text {
  @include textBtn(var(--color-accent), var(--hover-accent), var(--active-accent));
}

// TODO
//// - ICON - //
//.dzm-btn__icon {
//  @extend .__dbtn-base__;
//  min-width: 1rem;
//  min-height: 1rem;
//  background: none;
//  padding: 0;
//}
//
// -- -- //
